.container__grid{
    display:grid;
    grid-template-areas: 
    " head head head"
    "  mai mai mai"
    " mai mai mai"
    "  foo foo foo"
    ;
}

.nav__aside{
    grid-area: hea;

  
}
.header{
    grid-area: head;
}
.main__content{
    grid-area: mai;
    
}
.footer__content{
    grid-area: foo;
  
}

.container__grid__reflexion{
    display:grid;
    grid-template-areas: 
    "as  pre pre"
    "as  pre pre"
    "as  pre pre"
    "as  pre pre"
    ;
}

.aside__reflexion{
    grid-area: as;

  
}
.preamble{
    grid-area: pre;
}
